.blog {
  height: 100%;
  padding: 24px 0;
  .blogCont {
    overflow: auto;
    position: relative;
    .toBack {
      position: absolute;
    }
    .info {
      margin: 0 auto 24px;
      div {
        font-size: 24px;
        text-align: center;
        font-weight: 300;
      }
    }
    .markd {
      margin: auto;
      padding: 20px;
      background-color: #fff;
  
      a {
        color: #DE463C;
      }
  
      blockquote {
        height: 30px;
        line-height: 30px;
        padding-left: 10px;
        background-color: #ECF1FC;
        border-left: 5px solid #DE463C;
        p {
          color: #7C7C7C;
        }
      }
  
      img {
        max-width: 760px;
      }
    }
  }
}