@import '~antd/es/style/themes/default.less';
.blog {
  height: 100%;
  padding: 24px 0;
  display: flex;
  .info {
    margin-left: 24px;
    width: 300px;
    height: 400px;
    .blogerInfo, .blogList {
      width: 100%;
      padding: 10px 10px 10px 20px;
      background-color: #fff;
      .avatarUser {
        padding-bottom: 5px;
        border-bottom: 1px solid #eee;
        .username {
          margin-left: 10px;
          display: inline-block;
          font-weight: 400;
          font-size: xx-small;
        }
      }
    }
    .funcInfo {
      width: 300px;
      margin-bottom: 24px;
      .btns {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
    .blogList {
      margin-top: 24px;
      .blogItem {
        margin-top: 15px;
        >div {
          vertical-align: middle;
          >i {
            display: inline-block;
            margin-top: 5px;
            vertical-align: top;
          }
          >span {
            display: inline-block;
            margin-left: 10px;
            width: 230px;
            >a {
              overflow:hidden; 
              text-overflow:ellipsis; 
              display:-webkit-box; 
              /* autoprefixer: off */ 
              -webkit-box-orient:vertical; 
              /* autoprefixer: on */ 
              -webkit-line-clamp:2;
            }
          }
        } 
      }
    }
  }
  .blogCont {
    overflow: auto;
    flex-grow: 1;

    .tags {
      width: 100%;
      padding-left: 10px;
      >span {
        margin-bottom: 24px;
        display: inline-block;
      }
    }
    .info {
      margin: 0 auto 24px;
      div {
        font-size: 24px;
        text-align: center;
        font-weight: 300;
      }
    }
    .markd {
      margin: auto;
      padding: 20px;
      background-color: #fff;
  
      a {
        color: #249EE9;
        font-weight: 500;
      }

      ul, ol {
        list-style: initial;
        margin-bottom: 0;
      }
  
      blockquote {
        padding: 10px 20px;
        background-color: #ECF1FC;
        border-left: 5px solid #DE463C;
        p {
          color: #7C7C7C;
        }
      }
  
      img {
        max-width: 100%;
      }

      code {
        display: inline-block;
        padding: 0 4px;
        border-radius: 4px;
        background-color: rgba(224, 81, 19, 0.2);
      }

      pre {
        margin-top: 10px;
      }

      pre code {
        background-color: initial;
      }
    }
  }
  .backTop {
    height: 60px;
    width: 40px;
    line-height: 30px;
    border-radius: 4px;
    background-color: #0D0806;
    color: #fff;
    text-align: center;
    font-size: 20px;
  }
}

@media only screen and (max-width: @screen-md) {
  .blog {
    height: 100%;
    padding: 24px 0;
    .info {
      display: none
    }
    .blogCont {
      overflow: auto;
    }
    .simpleBlog {
      display: none;
    }
  }
}