@import '~antd/es/style/themes/default.less';

.blog {
  height: 100%;
  .tabLine {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .upload {
      display: inline-block;
      width: 170px;
      border: 1px solid #ddd;
      padding: 4.5px;
      border-radius: 4px;
      background-color: #fff;
    }
    .selectSort {
      width: 400px;
    }
    >* {
      margin: 0 5px;
    }
  }
  .blogContain:hover {
    transition: 0.5s;
    box-shadow: 0 0 4px #A0B8DD;
  }
  .blogContain {
    margin: 16px 0;
    padding: 10px 16px;
    overflow: hidden;
    border-radius: 4px;
    transition: 0.5s;
    box-shadow: 0 0 4px #ddd;
    background-color: #fff;
    cursor: pointer;
    .blogHeader {
      // height: 26px;
      // line-height: 26px;
      // >* {
      //   display: inline-block;
      // }
      text-align: center;
      .blogTitle {
        width: 100%;
        // overflow: hidden;
        // text-overflow: ellipsis;
        // white-space: nowrap;
        font-size: 16px;
        font-weight: bold;
        display: block;
        vertical-align: middle;
        margin-bottom: 20px;
      }
      .blogTags {
        margin-right: 6px;
        margin-bottom: 5px;
        display: block;
      }
    }
    .blogContent {
      margin: 8px 0 10px;
      line-height: 20px;
      font-size: 14px;
      color: #757272;
      text-indent: 2em;
      overflow:hidden; 
      text-overflow:ellipsis; 
      display:-webkit-box; 
      /* autoprefixer: off */ 
      -webkit-box-orient:vertical; 
      /* autoprefixer: on */ 
      -webkit-line-clamp:4;
    }
    .blogFooter {
      margin-top: 20px;
      .blogStatistic {
        float: left;
        .count {
          margin-left: 5px;
        }
      }
      .blogTimestamp {
        float: right;
      }
    }
  }
}

@media only screen and (max-width: @screen-md) {
  .blog {
    .tabLine {
      .selectSort {
        width: 160px;
      }
    }
    .blogContain {
      .blogHeader {
        text-align: left;
        .blogTitle {
          margin-bottom: 0;
        }
        .blogTags {
          line-height: 28px;
        }
      }
      .blogContent {
        margin: 0 0 5px;
      }
      .blogFooter {
        margin-top: 0;
        .blogTimestamp {
          margin-top: 5px;
          float: left;
        }
        .blogStatistic {
          float: left;
        }
      }
    }
  }
  .link {
    display: none;
  }
}